.cookbookIndex {
    padding-bottom: 64px;
}

.cookbookIndex :is(h1, h2) {
    text-align: left;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}

.cookbookIndex h1 {
    text-align: center;
}

.cookbookIndex h2 {
    margin-top: 5rem;

    padding-bottom: 4px;
    border-bottom: 1px solid var(--bg-color-40);
}

.cookbookLanguageIndex > * > * > ul li::marker {
    content: "->";
}

.cookbookLanguageIndex > * > *:nth-child(2) {
    width: 50%;
    margin: 0 25%;
    align-self: center;
    justify-self: center;
    padding-left: 50px;
}

.cookbookLanguageIndex > * > * > ul li > a {
    margin-left: 8px;
}



.entry {
    margin-left: 5%;
    margin-bottom: 24px;
    padding: 32px;
    width: 90%;
    gap: 8px;
}

.entryLink {
    width: fit-content;
    overflow-wrap: break-word;
}

.entryInfo {
    font-size: smaller;
}

.entryInfo:not(:first-of-type) {
    display: none;
}


@media (max-width: 600px) {
    .entry {
        padding: 16px;
    }

    .entryLink {
        font-size: small;
    }

    .entryInfo {
        font-size: x-small;
    }

    .entryInfo:first-of-type {
        display: none;
    }

    .entryInfo:not(:first-of-type) {
        display: unset;
    }
}